Django==1.9.8
django-memoize==2.0.0
django-redis==4.4.4
django-redis-cache==1.6.5
gunicorn==19.6.0
gyp==0.1
pymongo==3.3.0
pync==1.6.1
python-dateutil==2.5.3
pytz==2014.10
redis==2.10.5
six==1.10.0
sqlparse==0.1.18
virtualenv==15.0.1
youtube-dl==2016.2.22
